{% extends "base.html" %}

{%  block title %}
Add Report | SecureWitness
{% endblock %}

{% block content_title %}
  <h2>Report</h2>
  <hr>
{% endblock %}

{% block content %}
<form role="form">
	<div class="form-group">
		<label for="name">Short Description</label>
		<input type="text" class="form-control" placeholder="Title" name="title"></input>
	</div>
	<div class="form-group">
		<label for="name">Long Description</label>
		<textarea class="form-control" rows="10" placeholder="Body" name="body"></textarea>
	</div>
	<div class="form-group">
		<label for="name">Attachment</label>
		<input type="file" class="form-control" name="files[]" multiple="true"></input>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary"> Post </button>
	</div>
</form>
{% endblock %}
