{% extends "base.html" %}

{%  block title %}
Add Folder | SecureWitness
{% endblock %}

{% block content_title %}
  <h2>New Folder</h2>
{% endblock %}

{% block content %}
<form action="{% url 'accounts:add_folder' %}" method="post" enctype="multipart/form-data" role="form">
	{% csrf_token %}
    <div class="form-group">
            <h3>{{ message }}</h3>
    </div>
	<div class="form-group">
		<label for="name">File Name</label>
		<input type="text" class="form-control" placeholder="File Name" name="file_name"></input>
	</div>
	<div class="form-group">
        {{ form.AddFolderForm }}
		<label for="name">Parent Folder</label>
{#		<input type="text" class="form-control" placeholder="Parent Folder" name="parent_folder"></input>#}
            <div class="btn-group">
        <select class="form-control"  name="parent_folder">
            {%for t in folder%}
                <option value="{{t.file_name}}" name="parent_name">{{t.file_name}}</option>
            {%endfor%}
        </select>
          </div>
      </div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary"> Add </button>
	</div>
</form>
{% endblock %}
