{% extends "base.html" %} 

{% block title %}Add Users | SecureWitness {% endblock %} 
{% block content_title %}
  <h2>Add Users To Group: {{ group }} </h2> 
  <p> Users: 
	{% for user in users %} 
		{{ user.username }} {% if not forloop.last %}, {% endif %}
	{% endfor %} 
  </p> 
{% endblock  %}

{% block content %} 
	<form action="{% url 'accounts:add_group_user' group.pk %}" method="post" enctype="multipart/form-data"> 
		{% csrf_token %} 
		<div class="form-group"> 
			<input class="form-control" rows="10" placeholder="Enter the usernames of the users you would like to add to the group, separated by commas (,)" name="usernames"></input> 
		</div> 
		<div class="form-actions"> 
			<button type="submit" class="btn btn-primary" style="float: right;"> Add </button> 
		</div> 
	</form> 
{% endblock %} 
