{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}
{% block content_title %}
  <h2>{{report.short}}</h2>
  <p> By: {{ report.author }}
{% endblock %}

{% block content %}
	<h5>Posted on {{ report.timestamp }} by {{ report.author}}</h5>
	<div class="panel panel-default">
		<div class=panel-body>
			Long Description: <br /> 
			<p> 
				{{ report.details }}
			</p>
			Location: {{ report.location }} <br/>
			Date: {{ report.date }} <br/>
			Keywords: {{ report.keywords }} <br/>
			Private: {{ report.private }} <br />
			Attachments:
			{% if documents %}
			{% for document in documents %}
				<a href="{{ document.docfile.url }}"> {{ document.docfile.name }} </a>
			{% endfor %}
			{% else %}
				None
			{% endif %}
		</div>
	</div>
	<form action="{% url 'reports:edit' report.pk %}" method="post">
		{% csrf_token %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="edit" value="Edit">Edit</button>
		</div>
	</form>
	<form action="{% url 'reports:delete' report.pk %}" method="post"> 
		{% csrf_token %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="delete" value="Delete">Delete</button>
		</div>
	</form>

{% endblock %}
