{% extends "base.html" %}

{% block title %}{{report.short}} | SecureWitness{% endblock %}
{% block content_title %}
  <h2>{{report.short}}</h2>
  <p> By: {{ report.author }}</p>
{% endblock %}

{% block content %}
	<h5>Posted on {{ report.timestamp }} by {{ report.author}}</h5>
	<div class="panel panel-default">
		<div class=panel-body>
			<h4>Long Description:</h4> 
			<h5> 
				{{ report.details }}
			</h5>
			<h4>Location:<span class="h5">{{ report.location }}</span></h4>
			<h4>Date: <span class="h5">{{ report.date }}</span></h4>
			<h4>Keywords: <span class="h5">{{ report.keywords }}</span></h4>
			<h4>Private: <span class="h5">{{ report.private }}</span></h4>
			<h4>Attachments:
			{% if documents and not report.encrypt %}
			</h4>
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}"> {{ document.docfile.name }} </a></li>
			{% endfor %}
			</ul>
			{% elif documents and report.encrypt %}
				<span class="h5">There 
				{% if documents|length == 1 %} is
				{% else %} are 
				{% endif %} {{ documents|length }} encrypted 
				{% if documents|length == 1 %} file
				{% else %} files
				{% endif %}  attached to this report.</span></h4>
			{% else %} 
				<span class="h5">None</span></h4>	
			{% endif %}
		</div>
	</div>
{#    <div class="form-actions">#}
{#        <button type="submit" name="edit" class="btn btn-primary" value="Edit"> Edit </button>#}
{#        <button type="submit" name="delete" class="btn btn-primary" value="Delete"> Delete </button>#}
{#	</div>#}
	<form action="{% url 'reports:edit' report.pk %}" method="post">
		{% csrf_token %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="edit" value="Edit">Edit</button>
		</div>
	</form>
	<form action="{% url 'reports:delete' report.pk %}" method="post">
		{% csrf_token %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="delete" value="Delete">Delete</button>
		</div>
	</form>

{% endblock %}
