{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}
{% block content_title %}
  <h2>{{report.title}}</h2>
{% endblock %}

{% block content %}
	<h5>Posted on {{ report.timestamp }} by {{ report.author}}</h5>
	<div class="panel panel-default">
		<div class=panel-body>
			Author: {{  report.author  }} <br />
			Short Description: {{ report.short }} <br/>
			Long Description: <br /> 
			<p> 
				{{ report.details }}
			</p>
			Location: {{ report.location }} <br/>
			Date: {{ report.date }} <br/>
			Keywords: {{ report.keywords }} <br/>
			Private: {{ report.private }} <br />
		</div>
	</div>

{% endblock %}
