{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}

{% block content_title %}
  <h2>Forbidden!</h2>
{% endblock %}

{% block content %}
    {% if t == 1 %}
        <h3>You don't have access to this private report. Please check the information you entered or contact the owner for more information.</h3>
    {% elif t == 2 %}
        <h3>You don't have the right to edit/delete this report.</h3>
    {% elif t == 3 %}
        <h3>The folder does not exist or you don't have access to this private repository. Please check the information you entered.</h3>
    {% elif t == 4 %}
        <h3>There is something wrong:(</h3>
    {% endif %}
{% endblock %}