{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}

{% block content_title %}
  <h2>{{ prof}}'s Inbox</h2>
  <h3 align="left"> <a href="{% url 'mails:compose_mail'%}" class = "btn btn-primary"> Compose</a></h3>
{% endblock %}

{% block content %}
<div class="list-group">
    {% for m in mail %}
		<a href="{% url 'mails:mail_detail' m.pk %}" class="list-group-item">
			<h3> {{ m.title }} </h3>
            <h4> Received on {{ m.date }} from {{ m.from_user}}</h4>
		</a>
	    {%  endfor %}
</div>
{% endblock %}