{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}

{% block content_title %}
  <h2>User Profile (<a href="{% url 'accounts:admin_page' %}">Administrator</a>)</h2>
  <h3 align="left"> <a href="{% url 'reports:add_report' %}" class = "btn btn-primary"> Add Report</a></h3>
{% endblock %}

{% block content %}
<div class="list-group">
	{% for f in folder %}
		<a href="{% url 'accounts:report_list' f.pk %}" class="list-group-item">
			<h3> {{ f.file_name }} </h3>
		</a>
	{%  endfor %}
</div>
{% endblock %}
