{% extends "base.html" %}

{% block title %}Profile | SecureWitness{% endblock %}

{% block content_title %}
  <h2>
  	{{ prof }}'s Profile 
  	{% if prof.is_admin %}
  	(<a href="{% url 'accounts:admin_page' %}">Administrator</a>)
  	{% endif %}
    <h3 align="left"> <a href="{% url 'accounts:reset_password'%}" class = "btn btn-primary"> Reset Password</a></h3>
  </h2>
{% endblock %}

{% block content %}
<div class="list-group">
	<h2> Reports and Folders </h2> 
        {% for f in o.parents.all %}
		<a href="{% url 'accounts:report_list' f.pk %}" class="list-group-item">
			<h3> {{ f.file_name }} </h3>
		</a>
	    {%  endfor %}
        {% for r in o.reports_set.all %}
		<a href="{% url 'reports:detail' r.pk%}" class="list-group-item">
			<h3> {{ r.short }} </h3>
			<h4> Posted on {{ r.timestamp }} by {{ r.author}}</h4>
		</a>
	    {%  endfor %}
</div>
<div class="list-group">
	<h2> Groups </h2> 
	{% if groups %} 
		{% for g in groups %} 
			<a href="{% url 'accounts:group_details' g.pk %}" class="list-group-item"> 
				<h3>{{ g }}</h3>
			</a>
		{% endfor %} 		
	{% else %} 
		<h4> You are currently in no groups <h4> 
	{% endif %} 
</div>
{% endblock %}
