{% extends "base.html" %}

{% block title %}Home | SecureWitness{% endblock %}

{% block content_title %}
  <h2>{{ prof }}'s Profile (<a href="{% url 'accounts:admin_page' %}">Administrator</a>)</h2>
{% endblock %}

{% block content %}
<div class="list-group">
        {% for f in o.parents.all %}
		<a href="{% url 'accounts:report_list' f.pk %}" class="list-group-item">
			<h3> {{ f.file_name }} </h3>
		</a>
	    {%  endfor %}
        {% for r in o.reports_set.all %}
		<a href="{% url 'reports:detail' r.pk%}" class="list-group-item">
			<h3> {{ r.short }} </h3>
			<h4> Posted on {{ r.timestamp }} by {{ r.author}}</h4>
		</a>
	    {%  endfor %}
</div>
{% endblock %}
