{% extends "base.html" %}

{% block title %}Admin | SecureWitness{% endblock %}

{% block content_title %}
  <h2>Create Group</h2>
{% endblock %}

{% block content %}

<form action="{% url 'accounts:admin_creategroup' %}" method="post" enctype="multipart/form-data" role="form">
   {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter group name" name="groupname"></input>
   </div>
   <div class="form-group">
      <input type="hidden" class="form-control" name="username" value="{{ user.username }}"></input>
   </div>
   <div class="form-actions">
        <button type="submit" class="btn btn-primary" style="float: right;"> Save </button>
   </div>

</form>

{% endblock %}
