{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset | SecureWitness{% endblock %}

{% block content_title %}
  <h2>Request Success</h2>
{% endblock %}


{% block content %}

<p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

    <div class="list-group">
        <h3 align="left"> <a href="{% url 'home' %}" class = "btn btn-primary"> Back To Homepage</a></h3>
    </div>
{% endblock %}
